
body{
    margin: 100px;
}

table{
    margin-left: 100px;
    margin-top: 30px;
}

h1{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0 0 200px;
}


#All{
    background-color: rgba(8, 8, 8, 0);
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 20px 0 5px 50px;
    border-radius: 5px;
    border: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgba(0, 0, 0, 0);

}

#Poetry{
    margin: 20px 0 5px 20px;
    background-color:#0d0e0d00;
    font-size: 17px;
    border-radius: 5px;
    border: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgba(0, 0, 0, 0);
}

#Fiction{
    margin: 20px 0 5px 20px;
    background-color:#36bfa600;
    font-size: 17px;
    border-radius: 5px;
    border: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgba(0, 0, 0, 0);
}

#Biography{
    margin: 20px 0 5px 20px;
    background-color:#38f2bd00;
    font-size: 17px;
    border-radius: 5px;
    border: solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: rgba(0, 0, 0, 0);
}

#authors{
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 17px;
    margin: 20px 0 5px 20px;
    border-radius: 10px;
}

#poeAut{
    background-color: #36D9BB;
    font-size: 17px;
    border-radius: 10px;
}
#bioAut{
    background-color: #38F2BD;
    font-size: 17px;
    border-radius: 10px;
}

#ficAut {
    background-color:#36BFA6;
    font-size: 17px;
    border-radius: 10px;
}

#display {
    width: 320px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color:rgb(241, 240, 240);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 30px 40px 90px;

}

#displayAuthors{
    width: 320px;
    height: 240px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(241, 240, 240);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 30px 40px 90px;
}
